<form (ngSubmit)="addUser()">
    <mat-form-field>
      <mat-label>User Name</mat-label>
      <input matInput [(ngModel)]="userName" name="userName" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Workout Type</mat-label>
      <input matInput [(ngModel)]="workoutType" name="workoutType" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Workout Minutes</mat-label>
      <input matInput [(ngModel)]="workoutMinutes" name="workoutMinutes" type="number" required>
    </mat-form-field>
  
    <button mat-raised-button color="primary">Add Workout</button>
  </form>
  